.footer-container {
  padding: 01rem 0;
  .logo-icon {
    font-size: 3rem;
    font-weight: bold;
  }
  .contact-details {
    font-weight: bold;
    color: #b1b1b1;
    margin-top: 1rem;
    margin-bottom: 2rem;
    .social-icons {
      color: rgb(98, 98, 98);
      span {
        font-size: 3rem;
        margin: 0 0.5rem;
      }
    }
  }
}
